/*
*{
	outline: 1px solid blue;
}*/

.navbar-default{
	border-radius: 0px;
	border-width: 2px 0px 2px 0px;
	background-image:none;
}




/* home page */

.home-product-button{
	border-radius: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:80%;
}
.home-product-container > p{
	text-align: center;
}

.home-product-image{	
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}
