/*
*{
	outline: 1px solid blue;
}*/

.navbar-default{
	border-radius: 0px;
	border-width: 2px 0px 2px 0px;
	background-image:none;
}
.top-buffer{
	margin-top:20px;
}




/* home page */

.home-product-button{
	border-radius: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:80%;
}
.home-product-container > p{
	text-align: center;
}

.home-product-image{	
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}


/* product page */

.product-purchase-button{
	margin-bottom: 20px;
	margin-top: 10px;
	/*margin-left: auto;
	margin-right: auto;
	width: 60%;*/
}

.delete-modal-header{
	background-color: #d9534f;
	color: white;
}


/* User page */
.past-purchases-header{
	margin-top: 100px;
}

/* User Cart Page */
.cart-messages{
	margin-top: 10px;
}

/* login/register page */
.login-register-buttons{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

/*.cart-item{
	border-bottom: 2px solid gray;
	padding-bottom: 10px;
}
.cart-list-item{
	list-style-type: none;

}
.cart-item-buttons{
	margin-top: 10px;
}*/
/*
.go-to-product-button{
	float:right;
	margin-left: 5px;
	margin-right: 10px;
}
.remove-item{
	float:right;
	margin-left: 10px;
	margin-right: 5px;
}*/