<div class="container">
	<h1>Register</h1>
		<!-- show error message if register is a failure -->
	<div class="alert alert-danger" ng-show="failure">
		{{message}}
	</div>
	<form ng-submit="registerUser()">
		<div class="from-group">
			<label>Name</label>
			<input class="form-control" ng-model="user.name"></input>
		</div>
		<div class="from-group">
			<label>E-mail</label>
			<input class="form-control" ng-model="user.email"></input>
		</div>
		<div class="from-group">
			<label>Password</label>
			<input type="password" class="form-control" ng-model="user.password"></input>
		</div>		
		<button type="submit" class="btn btn-primary">Create Account</button>
		<a href = "/#login">Already a member? Log in</a>

	</form>
</div>